{% extends "shop/base.html" %}
{% load static %}

{% block title %}Category Products{% endblock %}

{% block content %}

<div class="container">

    <h2 class="section-title">
        {{ category_name|default:"Products" }}
    </h2>

    <section class="product-grid">
        {% for p in products %}
            <article class="product-card {% if not p.available %}out-of-stock{% endif %}">

                <!-- PRODUCT IMAGE (CLICKABLE) -->
                <div class="product-image" onclick="toggleGallery({{ p.id }})">
                    {% if p.image %}
                        <img src="{{ p.image.url }}" alt="{{ p.name }}">
                    {% else %}
                        <img src="{% static 'shop/images/placeholder.svg' %}" alt="No image">
                    {% endif %}
                </div>
                 <div class="wishlist-icon">
                {% if user.is_authenticated %}
                    {% if p.id in wishlist_items %}
                        <a href="{% url 'wishlist_remove' p.id %}">❤️</a>
                    {% else %}
                        <a href="{% url 'wishlist_add' p.id %}">🤍</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}">🤍</a>
                {% endif %}
            </div>
                <!-- MULTIPLE IMAGES (HIDDEN BY DEFAULT) -->
                <div class="image-gallery" id="gallery-{{ p.id }}" style="display:none;">
                    {% for img in p.images.all %}
                        <img src="{{ img.image.url }}" alt="extra image">
                    {% empty %}
                        <p class="no-extra">No extra images</p>
                    {% endfor %}
                </div>

                <!-- PRODUCT INFO -->
                <div class="meta">
                    <h3>{{ p.name }}</h3>

                    <p class="price">₹ {{ p.price }}</p>

                    {% if p.available %}
                        <p class="availability in-stock">✔ In Stock</p>

                        <form action="{% url 'cart_add' p.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn small">Add to Cart</button>
                        </form>
                    {% else %}
                        <p class="availability out-of-stock">✖ Out of Stock</p>
                    {% endif %}
                </div>

            </article>
        {% empty %}
            <p>No products found in this category.</p>
        {% endfor %}
    </section>

</div>

<!-- JS FOR IMAGE TOGGLE -->
<script>
function toggleGallery(id) {
    const gallery = document.getElementById("gallery-" + id);
    if (gallery.style.display === "none") {
        gallery.style.display = "flex";
    } else {
        gallery.style.display = "none";
    }
}
</script>

{% endblock %}
