{% extends "shop/base.html" %}
{% load static %}

{% block title %}Filtered Products{% endblock %}

{% block content %}

<div class="container">

    <h1 style="margin-bottom:20px;">Filtered Products</h1>

    {% if products %}
        <div class="product-grid">
            {% for product in products %}
                <div class="product-card {% if not product.available %}out-of-stock{% endif %}">

                    <a href="{% url 'product_detail' product.id %}">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'shop/images/placeholder.png' %}" alt="No image available">
                        {% endif %}
                    </a>

            <div class="wishlist-icon">
                {% if user.is_authenticated %}
                    {% if product.id in wishlist_items %}
                          <a href="{% url 'wishlist_remove' product.id %}" style="color:red;">❤️</a>
                    {% else %}
                       <a href="{% url 'wishlist_add' product.id %}">🤍</a>
                   {% endif %}
                {% else %}
                   <a href="{% url 'login' %}">🤍</a>
               {% endif %}
            </div>



                    <div class="meta">
                        <h3>{{ product.name }}</h3>
                        <p class="price">₹ {{ product.price }}</p>

                        {% if product.available %}
                            <p class="availability in-stock">✅ In Stock</p>
                        {% else %}
                            <p class="availability out-of-stock">❌ Out of Stock</p>
                        {% endif %}

                        {% if product.description %}
                            <p class="description">{{ product.description }}</p>
                        {% endif %}

                        <form action="{% url 'cart_add' product.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn small"
                                    {% if not product.available %}disabled{% endif %}>
                                Add to cart
                            </button>
                        </form>
                    </div>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No products available with selected filters.</p>
    {% endif %}

</div>

{% endblock %}
