{% extends "shop/base.html" %}

{% block content %}

<div class="card shadow p-4 mx-auto" style="max-width: 500px;">
    <h3 class="text-center mb-4">Create Your Account</h3>

    <form method="post">
        {% csrf_token %}
        
        {{ form.username.label_tag }} 
        {{ form.username }}
        
        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.phone.label_tag }}
        {{ form.phone }}

        {{ form.password.label_tag }}
        {{ form.password }}

        {{ form.confirm_password.label_tag }}
        {{ form.confirm_password }}

        <button type="submit" class="btn btn-primary w-100 mt-3">Register</button>
    </form>
</div>

{% endblock %}
